seed: 42

env:
  max_steps: 200
  stable_steps_required: 5

training:
  algorithms:
    - SAC
    - TD3
    - DDPG
#    - PPO
  timesteps: 500000
  n_envs: 4
  save_freq: 50000
  eval_freq: 50000        # (optional)
  eval_episodes: 5

logging:
  results_dir: ../..      # relative to code/ so top-level folders created next to code/
  tb_log_folder: logs/tensorboard
  csv_log_folder: logs/csv

sac:
  learning_rate: 3e-4
  buffer_size: 300000
  batch_size: 256
  gamma: 0.99
  tau: 0.005
  ent_coef: 'auto_0.1'
  learning_starts: 1000
  net_arch: [256, 256]

td3:
  learning_rate: 1e-3
  buffer_size: 300000
  batch_size: 256
  gamma: 0.99
  tau: 0.005
  learning_starts: 2000
  policy_delay: 2
  target_policy_noise: 0.2
  target_noise_clip: 0.5
  net_arch: [256, 256]

ddpg:
  learning_rate: 1e-3
  buffer_size: 300000
  batch_size: 256
  gamma: 0.99
  tau: 0.005
  learning_starts: 2000
  net_arch: [256, 256]

#ppo:
#  learning_rate: 3e-4
#  n_steps: 2048
#  batch_size: 64
#  n_epochs: 10
#  gamma: 0.99
#  gae_lambda: 0.95
#  clip_range: 0.2
#  net_arch: [64, 64]
